#calcbox{
    position: absolute;
    margin: auto;
    border-collapse: separate;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 550px;
    width: 400px;
    background-color: rgb(48, 44, 44);
    padding-top: 40px;
}

#textdisplaydiv{
    
    background-color: rgb(239, 239, 125);
    width: 320px;
    height: 60px;
    text-align: start;
    font-size: 25px;
}

#operatordisplay{
    background-color: rgb(239, 239, 125);
    width: 15px;
    height: 10px;
    position: relative;
    left: 335px;
    bottom: 55px;
    font-size: 20px;
    font-weight: bold;
    color: cadetblue;
}

.inputbuttons{
    color: rgb(242, 235, 235);
    background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 1px 1px 1px 1px lightblue;
    margin: 15px 15px 15px 12px;
    cursor: pointer;
}
.inputbuttons:hover{
    background-color: rgb(0, 0, 255);
    color: black;
    transition: 0.1s ease-in-out;
}

#buttondiv{
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
    height: 370px;
    width: 320px;
}


